<%- include("partials/header.ejs") %>

<header>
    <div class="header-container">
        <h1 class="main-title">IBlogs</h1>
        <h3 class="features" >
            <span class="create">Create.</span>
            <span class="read">Read.</span> 
            <span class="edit">Edit</span>
        </h3>
        <p class="main-description">
            Personal writing space for your blogs. <br>
            Create what you want, read what you need and manage it like you want. 
        </p>
        <a href="/create" class="create-button">Create</a>

    </div>
    <a id="arrow" href="#posts"><svg class="arrow-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="Keyboard-Double-Arrow-Down--Streamline-Outlined-Material" height="24" width="24"><desc>Keyboard Double Arrow Down Streamline Icon: https://streamlinehq.com</desc><g id="keyboard-double-arrow-down"><path id="Vector" d="M12 19 6 13l1.05 -1.05 4.95 4.95 4.95 -4.95L18 13 12 19Zm0 -6.325 -6 -6 1.05 -1.05 4.95 4.95 4.95 -4.95 1.05 1.05 -6 6Z" fill="#E23E57" stroke-width="0.5"></path></g></svg></a>
</header>
<section id="posts">
    <div class="container">
        <h2 class="container-title">Your posts:</h2>
        <hr color="#522546" size="1"/>
        <!-- POSTS -->
        <% if(locals.posts) { %>
            <div class="post-container">
                <% posts.forEach(post => { %>
                <div class="post">
                    <div class="post-title-container">
                        <h3 class="post-title"><a href="<%= post.link %>"><%= post.title %></a></h3>
                        <p class="date-of-publish"><%= post.createdAt %></p>
                    </div>
                    
                    <p class="post-content">
                        <%= post.postBody %>
                    </p>
                </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</section>

<div class="arrow-up">
    <a id="arrow" href="#nav"><svg class="arrow-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="Keyboard-Double-Arrow-Down--Streamline-Outlined-Material" height="24" width="24"><desc>Keyboard Double Arrow Down Streamline Icon: https://streamlinehq.com</desc><g id="keyboard-double-arrow-down"><path id="Vector" d="M12 19 6 13l1.05 -1.05 4.95 4.95 4.95 -4.95L18 13 12 19Zm0 -6.325 -6 -6 1.05 -1.05 4.95 4.95 4.95 -4.95 1.05 1.05 -6 6Z" fill="#E23E57" stroke-width="0.5"></path></g></svg></a>
</div>

<script src="/scripts/indexEJSScripts.js"></script>
<%- include("partials/footer.ejs") %>