<%- include("partials/header.ejs") %>

    <section class="post-section">
        <% if(locals.post) { %>
            <div class="post-headers"><h2 class="post-page-title"><%= post.title %></h2> <p class="date-of-publish"><%= post.createdAt  %></p></div>
            <hr color="#522546">
            <p class="post-description"> <%= post.postBody %></p>

            <div class="action-links">
                <a href="/posts/<%= postId %>/edit" class="edit-action">Edit</a>
                <a class="delete-action">Delete</a>
            </div>
        <% }else{  %>
            <h2 class="post-page-title" style="color: red;">POST NOT FOUND</h2>
        <% } %>
    </section>
    
    <% if(locals.postId) { %>
    <div class="modal-container hidden">
        <div class="modal-content">
            <h3 class="modal-title">Are you sure you want to delete this post?</h3>
            <div class="modal-buttons">
                <% %>
                <a href="/posts/<%= postId %>/delete" id="approve-modal">Yes</a>
                <a href="/posts/<%= postId %>" id="decline-modal">No</a>
            </div>
        </div>
    </div>
    <% } %>


<script src="/scripts/viewPageScripts.js"></script>

<%- include("partials/footer.ejs") %>